[Unit]
Description=Run syncing with Wizeline OS

[Service]
Type=oneshot
ExecStart=/bin/bash -c "cd /home/admin/projectlab/app/ && npm run sync-all-from-wos"

[Install]
WantedBy=multi-user.target